In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('train_LZdllcl.csv')
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
df.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
df.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [6]:
df.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0

In [7]:
df.isnull().sum()/len(df)

employee_id             0.000000
department              0.000000
region                  0.000000
education               0.043953
gender                  0.000000
recruitment_channel     0.000000
no_of_trainings         0.000000
age                     0.000000
previous_year_rating    0.075244
length_of_service       0.000000
KPIs_met >80%           0.000000
awards_won?             0.000000
avg_training_score      0.000000
is_promoted             0.000000
dtype: float64

In [8]:
df.shape

(54808, 14)

In [9]:
a=df[df['previous_year_rating'].isnull()]

In [10]:
a

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
10,29934,Technology,region_23,NaN,m,sourcing,1,30,NaN,1,0,0,77,0
23,71177,Procurement,region_5,Bachelor's,m,other,1,27,NaN,1,0,0,70,0
29,74759,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,26,NaN,1,0,0,44,0
56,45709,Sales & Marketing,region_31,Bachelor's,f,other,1,29,NaN,1,0,0,49,0
58,26599,Sales & Marketing,region_16,Bachelor's,m,other,2,27,NaN,1,1,0,47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54703,74615,R&D,region_31,Bachelor's,m,sourcing,1,30,NaN,1,1,0,88,0
54734,11685,Operations,region_15,Bachelor's,m,sourcing,1,31,NaN,1,1,0,56,1
54746,10546,Finance,region_6,Bachelor's,m,other,1,28,NaN,1,1,0,61,0
54773,37919,Finance,region_2,Bachelor's,m,other,1,23,NaN,1,1,0,61,0
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,NaN,1,0,0,78,0

In [11]:
a['length_of_service'].value_counts()

1    4124
Name: length_of_service, dtype: int64

In [12]:
df['previous_year_rating'].fillna(value=0,inplace=True)

In [13]:
df[df['previous_year_rating'].isnull()]

Empty DataFrame
Columns: [employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met >80%, awards_won?, avg_training_score, is_promoted]
Index: []

In [14]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating       0
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [15]:
b=df[df['education'].isnull()]

In [16]:
df['education'].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [17]:
b['KPIs_met >80%'].value_counts()

0    1814
1     595
Name: KPIs_met >80%, dtype: int64

In [18]:
df[df['education'].isnull()]['KPIs_met >80%']==0

10       True
21       True
32       True
43       True
82       True
         ...
54692    True
54717    True
54729    True
54742    True
54806    True
Name: KPIs_met >80%, Length: 2409, dtype: bool

In [19]:
b[b['KPIs_met >80%']==0]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
10,29934,Technology,region_23,NaN,m,sourcing,1,30,0.0,1,0,0,77,0
21,33332,Operations,region_15,NaN,m,sourcing,1,41,4.0,11,0,0,57,0
32,35465,Sales & Marketing,region_7,NaN,f,sourcing,1,24,1.0,2,0,0,48,0
43,17423,Sales & Marketing,region_2,NaN,m,other,3,24,2.0,2,0,0,48,0
82,66013,Sales & Marketing,region_2,NaN,m,sourcing,2,25,3.0,2,0,0,53,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54692,14821,Sales & Marketing,region_2,NaN,f,sourcing,1,35,3.0,7,0,0,53,0
54717,7684,Analytics,region_2,NaN,m,sourcing,1,32,3.0,4,0,0,86,0
54729,1797,HR,region_2,NaN,f,other,1,28,3.0,2,0,0,53,0
54742,38935,Sales & Marketing,region_31,NaN,m,other,1,28,4.0,3,0,0,47,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0

In [20]:
# for i in b[b['KPIs_met >80%']==0]:
#     b['education'].fillna(value='Bachelor',inplace=True)

In [21]:
# b[b['KPIs_met >80%']==0]

In [22]:
# df[df['education'].isnull()]

In [23]:
for i in df[df['education'].isnull()]['KPIs_met >80%']==0:
    df['education'].fillna(value="Bachelor's",inplace=True)

In [24]:
for i in df[df['education'].isnull()]['KPIs_met >80%']==1:
    df['education'].fillna(value="Master's & above",inplace=True)

In [25]:
df['education'].isnull().sum()

0

In [26]:
df.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [27]:
df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [28]:
# df['department'].value_counts()

In [29]:
# df['region'].value_counts()

In [30]:
# df['education'].value_counts()

In [31]:
# df['gender'].value_counts()

In [32]:
# df['recruitment_channel'].value_counts()

In [33]:
df_new=pd.get_dummies(df,['department','region','education','gender','recruitment_channel'],drop_first=True)

In [34]:
df_new.head(2)

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Finance,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,65438,1,35,5.0,8,1,0,49,0,0,...,0,0,1,0,0,0,1,0,0,1
1,65141,1,30,5.0,4,0,0,60,0,0,...,0,0,0,0,0,0,0,1,0,0

In [35]:
df_new.drop(['employee_id'],axis=1,inplace=True)

In [36]:
df_new

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Finance,department_HR,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,35,5.0,8,1,0,49,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,1,30,5.0,4,0,0,60,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,34,3.0,7,0,0,50,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2,39,1.0,10,0,0,50,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,45,3.0,2,0,0,73,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,1,48,3.0,17,0,0,78,0,0,0,...,0,0,0,0,0,0,0,1,0,1
54804,1,37,2.0,6,0,0,56,0,0,0,...,0,0,0,0,0,0,1,0,0,0
54805,1,27,5.0,3,1,0,79,0,0,0,...,0,0,0,0,0,0,0,1,0,0
54806,1,29,1.0,2,0,0,45,0,0,0,...,0,0,0,0,1,0,0,1,0,1
54807,1,27,1.0,5,0,0,49,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [39]:
X=df_new.drop('is_promoted',axis=1)
y=df_new['is_promoted']

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [41]:
lr=LogisticRegression(max_iter=10000)

In [42]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [44]:
pred=lr.predict(X_test)

In [45]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96     15061
           1       0.83      0.25      0.38      1382

    accuracy                           0.93     16443
   macro avg       0.88      0.62      0.67     16443
weighted avg       0.93      0.93      0.92     16443

In [46]:
print(confusion_matrix(y_test,pred))

[[14993    68]
 [ 1043   339]]

In [47]:
print(accuracy_score(y_test,pred))

0.9324332542723347

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
fit_rf = RandomForestClassifier(random_state=42)

In [126]:
fit_rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [130]:
pred_rf=fit_rf.predict(X_test)

In [131]:
print(classification_report(y_test,pred_rf))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97     15061
           1       0.85      0.27      0.42      1382

    accuracy                           0.93     16443
   macro avg       0.89      0.64      0.69     16443
weighted avg       0.93      0.93      0.92     16443

In [132]:
print(confusion_matrix(y_test,pred_rf))

[[14993    68]
 [ 1002   380]]

In [127]:
fit_rf.score(X_train,y_train)

0.9997914766062818

In [128]:
fit_rf.score(X_test,y_test)

0.934926716535912

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [134]:
fit_rf1 = RandomForestClassifier(random_state=101)

In [135]:
fit_rf1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=101,
                       verbose=0, warm_start=False)

In [136]:
pred_rf1=fit_rf1.predict(X_test)

In [137]:
print(classification_report(y_test,pred_rf1))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97     15061
           1       0.84      0.28      0.42      1382

    accuracy                           0.94     16443
   macro avg       0.89      0.64      0.69     16443
weighted avg       0.93      0.94      0.92     16443

In [138]:
print(confusion_matrix(y_test,pred_rf1))

[[14989    72]
 [  992   390]]

In [139]:
fit_rf1.score(X_train,y_train)

0.9997914766062818

In [140]:
fit_rf1.score(X_test,y_test)

0.935291613452533

In [50]:
# import time
# import random
# np.random.seed(42)
# start = time.time()

# param_dist = {'max_depth': [2, 3, 4],'bootstrap': [True, False],'max_features': ['auto', 'sqrt', 'log2', None],'criterion': ['gini', 'entropy']}

# cv_rf = GridSearchCV(fit_rf, cv = 10,param_grid=param_dist, n_jobs = 3)

# cv_rf.fit(X_train, y_train)
# print('Best Parameters using grid search: \n', cv_rf.best_params_)
# end = time.time()
# print('Time taken in grid search: {0: .2f}'.format(end - start))

In [51]:
# fit_rf.set_params(criterion = 'entropy',max_features = None,max_depth = 4)

In [52]:
# fit_rf.fit(X_train, y_train)

In [53]:
# pred_rf=fit_rf.predict(X_test)

In [54]:
# print(classification_report(y_test,pred))

In [55]:
# print(confusion_matrix(y_test,pred))

In [56]:
from sklearn.ensemble import AdaBoostClassifier

In [57]:
ada=AdaBoostClassifier(base_estimator=fit_rf)
ada.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=RandomForestClassifier(bootstrap=True,
                                                         ccp_alpha=0.0,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=None,
                                                         max_features='auto',
                                                         max_leaf_nodes=None,
                                                         max_samples=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         n_estimators=100,
                                                         n_jobs=None,
                                                         oob_score=False,
                                                         random_state=42,
                                                         verbose=0,
                                                         warm_start=False),
                   learning_rate=1.0, n_estimators=50, random_state=None)

In [58]:
pred_ada=ada.predict(X_test)

In [59]:
X_test.shape

(16443, 53)

In [60]:
pred_ada.shape

(16443,)

In [61]:
y_test.shape

(16443,)

In [62]:
print(classification_report(y_test,pred_ada))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96     15061
           1       0.76      0.23      0.36      1382

    accuracy                           0.93     16443
   macro avg       0.84      0.61      0.66     16443
weighted avg       0.92      0.93      0.91     16443

In [63]:
print(confusion_matrix(y_test,pred_ada))

[[14956   105]
 [ 1058   324]]

In [129]:
ada.score(X_train,y_train)

0.9998175420304966

In [133]:
ada.score(X_test,y_test)

0.9292708143282856

In [64]:
print(accuracy_score(y_test,pred_ada))

0.9292708143282856

In [65]:
ada1=AdaBoostClassifier()
ada1.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [66]:
param_grid={'n_estimators':range(50,200,50),
           'algorithm':['SAMME', 'SAMME.R']}
folds=5
grid_search=GridSearchCV(ada1,cv = folds,param_grid=param_grid, n_jobs = 3,verbose=1)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=AdaBoostClassifier(algorithm='SAMME.R',
                                          base_estimator=None,
                                          learning_rate=1.0, n_estimators=50,
                                          random_state=None),
             iid='deprecated', n_jobs=3,
             param_grid={'algorithm': ['SAMME', 'SAMME.R'],
                         'n_estimators': range(50, 200, 50)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [67]:
grid_search.best_params_

{'algorithm': 'SAMME.R', 'n_estimators': 150}

In [68]:
ada2=AdaBoostClassifier(n_estimators=150,algorithm='SAMME.R')
ada2.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=150, random_state=None)

In [69]:
pred_ada2=ada2.predict(X_test)

In [70]:
print(classification_report(y_test,pred_ada2))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96     15061
           1       0.70      0.21      0.32      1382

    accuracy                           0.93     16443
   macro avg       0.82      0.60      0.64     16443
weighted avg       0.91      0.93      0.91     16443

In [71]:
print(confusion_matrix(y_test,pred_ada2))

[[14939   122]
 [ 1095   287]]

In [72]:
import xgboost as xgb

In [73]:
xgbc=xgb.XGBClassifier()
xgbc.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [74]:
pred_xgbc=xgbc.predict(X_test)

In [75]:
print(classification_report(y_test,pred_xgbc))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97     15061
           1       0.90      0.35      0.50      1382

    accuracy                           0.94     16443
   macro avg       0.92      0.67      0.73     16443
weighted avg       0.94      0.94      0.93     16443

In [76]:
print(confusion_matrix(y_test,pred_xgbc))

[[15006    55]
 [  905   477]]

In [141]:
xgbc.score(X_train,y_train)

0.9491984882053955

In [142]:
xgbc.score(X_test,y_test)

0.9416164933406312

In [77]:
print(accuracy_score(y_test,pred_xgbc))

0.9416164933406312

In [124]:
# param_xg={"learning_rate" : [0.35, 0.40, 0.50, 0.60] ,
#  "max_depth"        : [6, 8, 10, 12, 15],
#  "min_child_weight" : [ 1, 3, 5, 7 ],
#  "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ] }

# folds=5
# grid_xg=GridSearchCV(xgbc,cv = folds,param_grid=param_xg, n_jobs = 3,verbose=1)

# grid_xg.fit(X_train, y_train)

In [78]:
df1=pd.read_csv('test_2umaH9m.csv')
df1.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [79]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
employee_id             23490 non-null int64
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

In [80]:
df1.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [81]:
g=df1[df1['previous_year_rating'].isnull()]

In [82]:
g

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
21,5677,Technology,region_17,Bachelor's,m,sourcing,1,25,NaN,1,0,0,80
32,67672,Technology,region_17,Bachelor's,m,other,1,29,NaN,1,1,0,85
39,55325,Analytics,region_22,Bachelor's,m,other,1,25,NaN,1,0,0,88
47,44159,Analytics,region_22,Master's & above,m,other,1,31,NaN,1,1,0,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23406,53291,Operations,region_4,Bachelor's,m,sourcing,1,32,NaN,1,1,0,62
23436,10138,Technology,region_2,Bachelor's,f,referred,1,29,NaN,1,0,0,79
23445,65765,Analytics,region_31,Bachelor's,m,sourcing,3,28,NaN,1,0,0,86
23479,39410,Sales & Marketing,region_2,Bachelor's,m,other,3,20,NaN,1,0,0,49
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,NaN,1,0,0,70

In [83]:
g['length_of_service'].value_counts()

1    1812
Name: length_of_service, dtype: int64

In [84]:
df1['previous_year_rating'].fillna(value=0,inplace=True)

In [85]:
df1[df1['previous_year_rating'].isnull()]

Empty DataFrame
Columns: [employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met >80%, awards_won?, avg_training_score]
Index: []

In [86]:
h=df1[df1['education'].isnull()]

In [87]:
h

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
49,3720,Sales & Marketing,region_2,NaN,m,sourcing,1,36,5.0,4,1,0,49
67,26977,Operations,region_2,NaN,m,sourcing,1,28,3.0,3,0,0,59
89,2347,Analytics,region_15,NaN,m,other,2,37,5.0,8,1,0,82
127,42719,Analytics,region_21,NaN,m,sourcing,1,27,0.0,1,0,0,80
138,2721,Analytics,region_22,NaN,f,sourcing,2,26,5.0,3,1,0,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23415,14036,Sales & Marketing,region_7,NaN,m,other,6,26,3.0,3,0,0,48
23424,5890,Analytics,region_15,NaN,m,sourcing,1,34,3.0,5,0,0,87
23452,65429,Analytics,region_15,NaN,m,sourcing,1,30,2.0,7,0,0,83
23459,30477,Sales & Marketing,region_22,NaN,m,other,1,31,2.0,7,0,0,52
23482,27284,Sales & Marketing,region_2,NaN,m,sourcing,2,44,4.0,4,0,0,49

In [88]:
for i in df1[df1['education'].isnull()]['KPIs_met >80%']==0:
    df1['education'].fillna(value="Bachelor's",inplace=True)

In [89]:
for i in df1[df1['education'].isnull()]['KPIs_met >80%']==1:
    df1['education'].fillna(value="Master's & above",inplace=True)

In [90]:
df1['education'].isnull().sum()

0

In [91]:
df1.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [92]:
df_test=pd.get_dummies(df1,['department','region','education','gender','recruitment_channel'],drop_first=True)

In [93]:
df_test.head(2)

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,8724,1,24,0.0,1,1,0,77,0,0,...,0,0,0,0,0,0,0,1,0,1
1,74430,1,31,3.0,5,0,0,51,0,1,...,0,0,0,0,0,0,0,0,0,0

In [94]:
j=df_test['employee_id']

In [95]:
j

0         8724
1        74430
2        72255
3        38562
4        64486
         ...
23485    53478
23486    25600
23487    45409
23488     1186
23489     5973
Name: employee_id, Length: 23490, dtype: int64

In [96]:
df_test.drop(['employee_id'],axis=1,inplace=True)

In [97]:
df_test

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,department_Legal,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,24,0.0,1,1,0,77,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,1,31,3.0,5,0,0,51,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,31,1.0,4,0,0,47,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,31,2.0,9,0,0,65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,30,4.0,7,0,0,61,1,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,1,24,3.0,1,0,0,61,0,0,1,...,0,0,0,0,0,1,0,1,0,1
23486,1,31,3.0,7,0,0,74,0,0,0,...,0,0,0,0,0,0,0,1,0,1
23487,1,26,4.0,4,0,0,50,0,1,0,...,0,0,0,0,0,0,0,0,0,1
23488,3,27,0.0,1,0,0,70,0,0,0,...,0,0,0,0,0,0,0,1,0,1
23489,3,40,5.0,5,1,0,89,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [98]:
X_test1=df_test

In [99]:
test_pred=xgbc.predict(X_test1)

In [100]:
test_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [101]:
m=test_pred

In [102]:
j

0         8724
1        74430
2        72255
3        38562
4        64486
         ...
23485    53478
23486    25600
23487    45409
23488     1186
23489     5973
Name: employee_id, Length: 23490, dtype: int64

In [103]:
new=df1

In [143]:
dataframe=pd.DataFrame()

In [144]:
dataframe['employee_id']=pd.Series(j)

In [145]:
dataframe['is_promoted']=pd.Series(test_pred)

In [146]:
dataframe

       employee_id  is_promoted
0             8724            0
1            74430            0
2            72255            0
3            38562            0
4            64486            0
...            ...          ...
23485        53478            0
23486        25600            0
23487        45409            0
23488         1186            0
23489         5973            1

[23490 rows x 2 columns]

In [104]:
new['employee_id']=pd.Series(j)

In [105]:
new['is_promoted']=pd.Series(test_pred)

In [106]:
new

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,0.0,1,1,0,77,0
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51,0
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47,0
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65,0
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,53478,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61,0
23486,25600,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74,0
23487,45409,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50,0
23488,1186,Procurement,region_31,Bachelor's,m,sourcing,3,27,0.0,1,0,0,70,0
23489,5973,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89,1

In [107]:
final=new[['employee_id','is_promoted']]

In [108]:
final

       employee_id  is_promoted
0             8724            0
1            74430            0
2            72255            0
3            38562            0
4            64486            0
...            ...          ...
23485        53478            0
23486        25600            0
23487        45409            0
23488         1186            0
23489         5973            1

[23490 rows x 2 columns]

In [109]:
final.to_csv (r'C:\Users\lenovo\Desktop\Python\AV-HR\export_dataframe.csv', index = False)

In [110]:
# test_pred=fit_rf.predict(X_test1)

In [111]:
# test_pred

In [112]:
# m=test_pred

In [113]:
# j

In [114]:
# new=df1

In [115]:
# new['employee_id']=pd.Series(j)

In [116]:
# new['is_promoted']=pd.Series(test_pred)

In [117]:
# new

In [118]:
# final=new[['employee_id','is_promoted']]

In [119]:
# final

In [120]:
# final.to_csv (r'C:\Users\lenovo\Desktop\AV-HR\export_dataframe-1.csv', index = False)